/* ==========================================================================
   #PROJECTS
   ========================================================================== */

.projects {
  max-width: 650px;

  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.project {
  display: block;
  max-width: 200px;
  margin-bottom: 2rem;
}

.project__name {
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.project__desc {
  margin-bottom: 0;
}
