/* ==========================================================================
   #HERO
   ========================================================================== */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 1.5rem;
}

.hero__title {
  margin-bottom: 0;
  @include fluid-type(font-size, $mobile, $tablet, 3rem, 4rem);
  @include fluid-type(font-size, $tablet, $desktop, 4rem, 5rem);
  @include fluid-type(font-size, $desktop, $wide, 5rem, 6rem);
  line-height: 0.9;

  .wrap {
    margin-top: -20px;
    overflow: hidden;

    @include mq($until: tablet) {
      height: 75px;
    }

    @include mq(tablet) {
      height: 105px;
    }

    @include mq(desktop) {
      height: 130px;
    }

    @include mq(wide) {
      height: 150px;
    }
  }
}

.hero__word {
  padding-bottom: 20px;

  br {
    // How to add height to a br tag, from: https://stackoverflow.com/questions/1409649/how-to-change-the-height-of-a-br/10195935
    display: block;
    margin-bottom: 1rem;
    line-height: 1rem;
    content: " ";
  }
}

.hero__caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1.5rem;

  .wrap {
    height: 36px;
    overflow: hidden;
  }
}
