/* ==========================================================================
   #BRAND
   ========================================================================== */

.brand {
  position: fixed;
  z-index: 1;
  top: 1.5rem;
  left: 1.5rem;
}

.brand__name {
  margin-bottom: 0;
  font-size: 1.25rem;

  @include mq($until: tablet) {
    font-size: 1rem;
  }
}

.brand__tagline {
  margin-top: 0.25rem;
  padding-left: 2rem;
  font-size: 0.75rem;

  p {
    margin-bottom: 0;
    line-height: initial;
  }

  .wrap {
    height: 22px;
    overflow: hidden;
  }
}
