/* ==========================================================================
   #BRAND
   ========================================================================== */

.brand {
  position: fixed;
  z-index: 1;
  top: 1.5rem;
  left: 1.5rem;
}

.brand__name {
  margin-bottom: 0;

  @include mq($until: tablet) {
    font-size: 1.25rem;
  }
}

.brand__tagline {
  margin-top: 1rem;
  padding-left: 3rem;
}
