/* ==========================================================================
   #LANGUAGE PICKER
   ========================================================================== */

.langs {
  position: fixed;
  z-index: 1;
  top: 2rem;
  right: 2rem;
}

.lang {
  cursor: pointer;
}

.lang--es {
}

.lang--en {
}
