/* ==========================================================================
   #HERO
   ========================================================================== */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 1.5rem;
}

.hero__title {
  margin-bottom: 0;
  @include fluid-type(font-size, $mobile, $tablet, 3rem, 4rem);
  @include fluid-type(font-size, $tablet, $desktop, 4rem, 5rem);
  @include fluid-type(font-size, $desktop, $wide, 5rem, 7rem);
  line-height: 1;
}

.hero__caption {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  margin-bottom: 0;
}
