/* ==========================================================================
   #NAV
   ========================================================================== */

.nav {
  @include mq($until: 1096) {
    display: none;
  }
  position: fixed;
  z-index: 1;
  bottom: 1.5rem;
  left: 1.5rem;
  list-style-type: none;
}

.nav__item {
}
