/* ==========================================================================
   #HERO
   ========================================================================== */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.hero__title {
  font-size: 7rem;
  line-height: 1;
}

.hero__caption {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  margin-bottom: 0;
}
